{% extends "header.html" %}
{% load static %}

{% block title %}
  Your shopping cart
{% endblock %}

{% block content %}
  <h1>Your shopping cart</h1>
  <table class="cart">
    <thead>
      <tr>
        <th>Image</th>
        <th>Game</th>
        <th>Period</th>
        <th>Price</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with game=item.game %}
          <tr>
            <td>
              <a href="{{ game.get_absolute_url }}">
                <img src="{% if game.image %}{{ game.image.url }}
                {% else %}{% static 'img/no_image.png' %}{% endif %}">
              </a>
            </td>
            <td>{{ game.name }}</td>
            <td class="num">
                <p>Full</p>
            </td>
            <td class="num">
                ${{ game.price }}
            </td>
            <td>
              <form action="{% url 'cart:cart_remove' game.id %}" method="post">
                <input type="submit" value="Удалить">
                {% csrf_token %}
              </form>
            </td>
          </tr>
        {% endwith %}
      {% endfor %}
      <!-- Вывод ключей пользователя -->
      {% if user_keys %}
        <tr class="user-keys">
          <td colspan="2">ТВАЙ КЛЯЧИ</td>
          <td colspan="3"></td>
        </tr>
        {% for key in user_keys %}
          <tr>
            <td>
              <a href="{{ key.game.get_absolute_url }}">
                <img src="{% if key.game.image %}{{ key.game.image.url }}
                {% else %}{% static 'img/no_image.png' %}{% endif %}">
              </a>
            </td>
            <td>{{ key.game.name }}</td>
            <td class="num">{{ key.period }}</td>
            <td class="num">${{ key.calculate_rent_price }}</td>

          </tr>
        {% endfor %}
      {% endif %}
      <!-- Конец вывода ключей пользователя -->

      <tr class="total">
        <td>Total</td>
        <td colspan="5"></td>
        <td class="num">${{ cart.get_total_price }}</td>
      </tr>
    </tbody>
  </table>
  <p class="text-right">
    <a href="{% url 'main_app:game_list_main_page' %}" class="button light">Continue shopping</a>
    <a href="{% url 'orders:order_create' %}" class="button">Checkout</a>
  </p>
{% endblock %}
