{% extends 'base.html' %}

{% block content %}
  <h1>Your Cart</h1>
  <table>
    <thead>
      <tr>
        <th>Game</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        <tr>
          <td>{{ item.game.name }}</td>
          <td>{{ item.quantity }}</td>
          <td>${{ item.price }}</td>
          <td>${{ item.total_price }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <p>Total Price: ${{ cart.get_total_price }}</p>
{% endblock %}
