{% extends "header.html" %}

{% block title %}Edit Your Account{% endblock %}

{% block content %}
  <div style="max-width: 600px; margin: 0 auto; text-align: center;">
    <h1>Edit Your Account</h1>
    <p>You can edit your account using the following form:</p>

    <form method="post" enctype="multipart/form-data" style="margin-top: 20px;">
      <div style="margin-bottom: 10px;">{{ user_form.as_p }}</div>
      <div style="margin-bottom: 10px;">{{ profile_form.as_p }}</div>
      {% csrf_token %}

      <div style="text-align: center;">
        <input type="submit" value="Save Changes" style="padding: 10px 20px; font-size: 16px; background-color: #4CAF50; color: #fff; border: none; cursor: pointer;">
      </div>
    </form>
  </div>
{% endblock %}
