{% extends 'base.html' %}

{% block title %}О нас{% endblock %}
{% block header %}О нас{% endblock %}

{% block content %}
  <section id="features">
    {% if features %}
      <div style="display: flex; flex-wrap: wrap; justify-content: space-around;">
        {% for feature in features %}
          <div style="text-align: center; margin: 20px; width: 75%;">
            <h3>{{ feature.title }}</h3>
            <div style="text-align: left; margin-top: 10px;">
              <p>{{ feature.description }}</p>
            </div>
            {% if feature.person.all %}
              <h4>Сотрудники</h4>
              <div style="display: flex; flex-wrap: wrap; justify-content: space-around; align-items: flex-start;">
                {% for person in feature.person.all %}
                  <div style="margin: 10px; width: 30%;">
                    <p>{{ person.name }}</p>
                    {% if person.image %}
                      <img src="{{ person.image.url }}" alt="{{ person.name }} Image" style="width: 65%; height: auto;">
                    {% endif %}
                    <p>{{ person.description }}</p>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>No features available.</p>
    {% endif %}
  </section>
{% endblock %}
