{% extends 'base.html' %}
{% load static %}

{% block title %}FAQ{% endblock %}
{% block header %}FAQ{% endblock %}

{% block content %}
  <section id="faqs">
    {% if faqs %}
      <div class="faq-container">
        {% for faq in faqs %}
          <div class="faq-item">
            <h3>{{ faq.title }}</h3>
            <div class="faq-details">
              <p><strong>Question:</strong> {{ faq.question }}</p>
              <p><strong>Answer:</strong> {{ faq.answer | linebreaksbr }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>No FAQs available.</p>
    {% endif %}
  </section>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock %}
