{% extends 'base.html' %}

{% block title %}FAQ{% endblock %}
{% block header %}FAQ{% endblock %}

{% block content %}
  <section id="faqs">
    {% if faqs %}
      <div style="display: flex; flex-wrap: wrap; justify-content: space-around;">
        {% for faq in faqs %}
          <div style="text-align: left; margin: 20px; width: 75%; border: 1px solid #ccc; padding: 15px; border-radius: 8px;">
            <h3>{{ faq.title }}</h3>
            <div style="margin-top: 10px;">
              <p><strong>Question:</strong> {{ faq.question }}</p>
              <p><strong>Answer:</strong> {{ faq.answer | linebreaksbr }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>No FAQs available.</p>
    {% endif %}
  </section>
{% endblock %}
