{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
  </head>
  <body>
    <!-- Footer -->
    <footer>
      <!-- Icons Container -->
      <div class="icons-container">
        <div class="icon-item">
          <img src="./account/images/iconFooter1.png" alt="" /> Best <br />
          Price
        </div>
        <div class="icon-item">
          <img src="./account/images/iconFooter2.png" alt="" /> Warranty
        </div>
        <div class="icon-item">
          <img src="./account/images/iconFooter3.png" alt="" /> Payment <br />
          ways
        </div>
        <div class="icon-item">
          <img src="./account/images/iconFooter4.png" alt="" /> Instant <br />
          delivery
        </div>
        <div class="icon-item">
          <img src="./account/images/iconFooter5.png" alt="" /> Technical
          support <br />for customer
        </div>
        <div class="icon-item">
          <img src="./account/images/iconFooter6.png" alt="" /> Thousands of
          <br />real reviews
        </div>
        <div class="icon-item">
          <img src="./account/images/iconFooter7.png" alt="" /> Regular
          <br />discounts
        </div>
      </div>

      <!-- Social Icons Container -->
      <div class="social-icons-container">
        <div class="links">
          <div class="social-icon-item">
            <a href="ссылка_на_вконтакте" target="_blank"
              ><img src="./account/images/wkIcon.avif" alt="VKontakte" />
              VKontakte</a
            >
          </div>
        </div>
        <div class="links">
          <div class="social-icon-item">
            <a href="ссылка_на_телеграм" target="_blank"
              ><img src="./account/images/tgIcon.avif" alt="Telegram" />
              Telegram</a
            >
          </div>
        </div>
        <div class="links">
          <div class="social-icon-item">
            <a href="ссылка_на_steam" target="_blank"
              ><img src="./account/images/steamIcon.png" alt="Steam" /> Steam</a
            >
          </div>
        </div>
        <div class="links">
          <div class="social-icon-item">
            <a href="ссылка_на_email" target="_blank"
              ><img src="./account/images/emailIcon.png" alt="Email" /> Email</a
            >
          </div>
        </div>
      </div>

      <!-- Visa Container -->
      <div class="visa-container1">
        <div class="visa-container">
          <img src="./account/images/visaImg.png" alt="Visa" /> Triple-A 2023
        </div>
        <!-- Copyright Container -->
        <div class="copyright-container">
          <p>
            All rights reserved. Copying any site materials are prohibited! All
            product and game names, company and brand names, logos, trademarks
            and other materials are property of their respective owners. Only
            license keys for all gaming platforms: Steam, Uplay, Battle.net,
            Origin and others. Profitable, reliable and fast!
          </p>
        </div>
      </div>
    </footer>
    <!--! Footer -->
  </body>
</html>
