<style>
    footer {
      background-color: #333;
      color: white;
      padding: 1rem;
      text-align: center;
      position: static;
      bottom: 0;
      width: 98%;
    }
</style>
<footer>
    &copy; All rights reserved. Copying any site materials are prohibited! All product and game names, company and brand names, logos, trademarks and other materials are property of their respective owners. Only license keys for all gaming platforms: Steam, Uplay, Battle.net, Origin and others. Profitable, reliable and fast!
</footer>
</body>
</html>