{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TripleA{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>

<header>
    <a href="{% url 'main_app:game_list_main_page' %}">
        <img id="logo" src="https://i.ibb.co/30jf2b0/Triple-A-logo-removebg-preview.png" alt="TripleA">
    </a>

    <div class="user">
        {% if request.user.is_authenticated %}
            <div class="user-greeting">
                <p>Hello {{ request.user.first_name|default:request.user.username }},</p>
                <p><a href="{% url 'account:logout' %}">Logout</a></p>
                <p><a href="{% url 'account:edit' %}">Edit</a></p>
            </div>
        {% else %}
            <a href="{% url 'account:login' %}">
                <img id="profile-icon" src="https://i.ibb.co/jyt3Nnb/icon-2-removebg-preview.png" alt="Profile">
            </a>
        {% endif %}

        <a href="{% url 'cart:cart_detail' %}">
            <img id="cart-icon" src="https://i.ibb.co/V90YSQJ/360-F-314846831-5j-Js-C7-Us9obgw-Mj-RDq-Fhs04dodzvn-Zvi-removebg-preview.png" alt="Cart">
        </a>
    </div>

    <h1>{% block header %}TripleA{% endblock %}</h1>
</header>

<div id="header">
    <a href="{% url 'main_app:game_list_main_page' %}">Home</a>
    <a href="{% url 'main_app:top_games' %}">Top Games</a>
    <a href="{% url 'about:about' %}">About</a>
    <a href="{% url 'faq:faq' %}">FAQ</a>
</div>

{% include "search.html" %}

<div id="subheader">
    <div class="cart">
        {% with total_items=cart|length %}
            {% if total_items > 0 %}
                Your cart:
                <a href="{% url "cart:cart_detail" %}">
                    {{ total_items }} item{{ total_items|pluralize }},
                    ${{ cart.get_total_price }}
                </a>
            {% else %}
                Your cart is empty.
            {% endif %}
        {% endwith %}
    </div>
</div>

<div id="content">
    {% block content %}
    {% endblock %}
</div>

{% include "footer.html" %}
</body>
</html>
