{% extends 'header.html' %}
{% load static %}

{% block title %}Top Games{% endblock %}
{% block header %}Top Games{% endblock %}

{% block content %}
  <section id="top-games">
    <div class="game-list">
      {% if top_rated_games %}
        {% for game in top_rated_games %}
          <div class="game-item">
            <img src="{{ game.image.url }}" alt="{{ game.name }} Image" class="game-image">
            <div class="game-details">
              <h3>{{ game.name }}</h3>
              <p class="game-rating"><strong>Rating:</strong> {{ game.rating }}</p>
              <a href="{% url 'main_app:game_detail' id=game.id slug=game.slug %}" class="btn btn-details">Learn More</a>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p>No top-rated games available.</p>
      {% endif %}
    </div>
  </section>

  <!-- Additional Styles -->
  <link rel="stylesheet" href="{% static 'css/top_game_page.css' %}">
{% endblock %}

